server:
  port: 8085

spring:
  application:
    name: notifications-service
  datasource:
    url: jdbc:mysql://localhost:3306/library_notifications_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

microservices:
  user-management:
    url: http://localhost:8081
  book-catalog:
    url: http://localhost:8082
  loan-management:
    url: http://localhost:8083
  reports:
    url: http://localhost:8084

jwt:
  secret: library-secret-key-2024-very-secure-jwt-token-key-change-in-production

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.library.notifications: DEBUG


